:root {
	--background: url('chrome-extension://__MSG_@@extension_id__/images/background.png');
	--nyan-hor: url('chrome-extension://__MSG_@@extension_id__/images/nyan-hor.svg');
	--nyan-vert: url('chrome-extension://__MSG_@@extension_id__/images/nyan-vert.svg');
	--rainbow-hor: url('chrome-extension://__MSG_@@extension_id__/images/rainbow-hor.svg');
	--rainbow-vert: url('chrome-extension://__MSG_@@extension_id__/images/rainbow-vert.svg');
}

:root::-webkit-scrollbar,
:root::-webkit-scrollbar-corner,
:root::-webkit-scrollbar-track,
:root::-webkit-scrollbar-track-piece:end {
	background-image: var(--background) !important;
	background-size: auto 60px !important;
}

:root::-webkit-scrollbar:vertical,
:root::-webkit-scrollbar-track:vertical,
:root::-webkit-scrollbar-track-piece:vertical:end {
	transform: rotate(90deg);
	transform-origin: center !important;
}

:root::-webkit-scrollbar,
:root::-webkit-scrollbar-corner,
:root::-webkit-scrollbar-track {
	width: 16px !important;
	height: 16px !important;
}

:root::-webkit-scrollbar-track-piece:horizontal:start {
	background-image: var(--rainbow-hor) !important;
	background-position: bottom right !important;
	background-size: auto 100% !important;
}

:root::-webkit-scrollbar-track-piece:horizontal:end {
	background-position: top right !important;
}

:root::-webkit-scrollbar-thumb:horizontal {
	background-image: var(--nyan-hor), var(--rainbow-hor) !important;
	background-position: bottom right, top left !important;
	background-size: auto 100% !important;
	background-repeat: no-repeat, repeat !important;
}

:root::-webkit-scrollbar-track-piece:vertical:start {
	background-image: var(--rainbow-vert) !important;
	background-size: 100% auto !important;
	background-position: bottom right;
}

:root::-webkit-scrollbar-track-piece:vertical:end {
	background-position: bottom left !important;
}

:root::-webkit-scrollbar-thumb:vertical {
	background-image: var(--nyan-vert), var(--rainbow-vert) !important;
	background-position: bottom right, top right !important;
	background-size: 100% auto !important;
	background-repeat: no-repeat, repeat !important;
}

:root::-webkit-scrollbar-thumb {
	background-color: transparent !important;
}
